body {
    background-color: #f2f2f2;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    padding: 0;
}

html, body, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

/* Чтобы центрировать блоки */
.container {
    width: 1200px;
    margin: 0 auto;
}

.wrapper {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}



/*header*/
.main-menu {
    text-align: center;
    position: relative;
}

.main-menu a:hover {
  text-decoration: none;
  color: #81b3d2;
}

.main-menu a:active {
  text-decoration: none;
  color: #d6d0cc;
}


.logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -69px;
}

.main-menu li {
    float: left;
    text-align: center;
    width: 20%;
    padding: 0;
}

.main-menu li:nth-child(2) {
    margin-right: 20%;
}

.main-menu li a {
    display: block;
    text-decoration: none;
    font-weight: 700; /*полужирный*/
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    color: #000000;
}
.main-menu .main-menu-active {    
    color: #766357;     /*коричневый цвет*/
}
.main-menu .main-menu-active:hover {
  
  color: #766357; 
}
/*header - end*/

/* Чтобы очищать флоаты */
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.mountains {
    margin-bottom: 60px;
}

.mountains img {
    display: block;
}

/*седона- небольшой городок*/
.sedona-description {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.sedona-description h2 {
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 21px;
    font-weight: bold;
}

.sedona-description p {
    margin-top: 0;
    margin-bottom: 58px;
    font-size: 14px;
}

h2 {
    font-size: 21px;
    font-weight: bold;

}

h3 {
    font-size: 14px;

    font-weight: normal;
}

/*седона- небольшой городок-end*/

.real-city {
    text-align: center;
}

.real-city-left {
    float: left;
    height: 223px;
    width: 400px;
    padding-top: 33px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;

}

.real-city-left h2 {
    padding-right: 9px;
    margin-bottom: 14px;
    line-height: 23px;
}

.real-city-left p {
    padding-right: 9px;
    padding-top: 8px;
}

.real-city-right {
    float: left;
    height: 256px;
}

/* Чтобы очищать флоаты */
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.services {
    text-align: center;
    padding-top: 58px;
}

.services-item {
    font-size: 14px;
    display: inline-block;
    float: left;
    width: 25%;
    padding-left: 41px;
    padding-right: 37px;
    padding-top: 3px;
    margin-right: 22px;
    vertical-align: middle;
    text-align: center;
}

.services-item p {
    padding-top: 10px;
}

.devils-bridge {
    text-align: center;
    padding-top: 64px;
}

.devils-bridge-left {
    float: left;
    height: 256px;
}

.devils-bridge-right {
    float: left;
    height: 222px;
    width: 400px;
    color: #ffffff;
    padding-top: 35px;
    text-align: center;
    background-color: #81b3d2;
}

.devils-bridge-right p {
    padding-top: 8px;
    font-size: 14px;
    margin-left: 47px;
    margin-right: 41px;
}

/* Чтобы очищать флоаты */
.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.bottom-description {
    text-align: center;
}

.bottom-description-center {
    background-color: #eeeeee;
    padding-top: 50px;
    padding-bottom: 65px;
}

.bottom-description-item {
    width: 33.33%;
    float: left;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 70px;
}

.interested {
    text-align: center;
    padding-top: 56px;
}

.interested h2 {
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 30px;
}

.interested p {
    text-align: center;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 53px;
}

.hotel-search-button {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

}

.hotel-search-title {
    color: #fff;
    background-color: #766357;
    margin: 0 auto;
    padding: 30px 0;
    width: 575px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

/*footer*/
.footer {
    height: 84px;
    padding-top: 36px;
    margin-top: -120px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

.footer-hotel {
    margin-top: 0;
    background-color: #ffffff;
}

.visitSedona {
    float: left;
    margin-left: 133px;
    padding-top: 13px;
}

.websiteby {
    float: right;
    margin-right: 103px;
    padding-top: 5px;
}

.footer-item {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

footer div {
}

.websiteby p {
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
}



.websiteby a {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    color: white;
    background-color: rgba(255, 255, 255, 0.0);
    font-size: 0;
    width: 118px;
    height: 50px;
    margin-right: 6px;
    background-image: url(../img/sprites.png);
    background-position: -8px -315px;

}

.websiteby a:hover {
background-image: url(../img/sprites.png);
background-position: -8px -374px;

}











.visitSedona a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;

}

.footer-item a {
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    color: white;
    background-color: #81b3d2;
    font-size: 0;
    width: 46px;
    height: 48px;
    margin-right: 6px;
}




.twitter {
 background-image: url(../img/sprites.png);
 background-position: -22px -197px;

}
.twitter:hover {
background-color: #669ec0;

}


.facebook {
 background-image: url(../img/sprites.png);
 background-position: -23px -230px;
}
.facebook:hover {
  background-color: #669ec0;
}
.youtube {
 background-image: url(../img/sprites.png);
 background-position: -26px -267px;
}
.youtube:hover {
background-color: #669ec0;
}



/* 2-я страница hotels------------------------------------------------------------------------------ */
/*class= сatalog(найдено, сортировка)*/
.sorting {
    padding: 13px 72px;
    border-bottom: 1px solid #e5e5e5;

}

.sorting-left {
    float: left;
}

.sorting-left a {
    /*стилизация сортировки по цене-типу-рейтингу*/
    margin-left: 30px;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    text-decoration: none;
    color: #81b3d2;
}

.sorting-left .type, .sorting-left .rating {
    text-decoration: none;
    color: #cccccc;
    border-bottom: 1px dashed #81b3d2;
}

.sorting-left-title {
    display: inline-block;
    vertical-align: middle;
    padding-right: 49px;
}

.sort-type {
    display: inline-block;
    vertical-align: middle;
}

.sorting-right {
    float: right;
    padding-top: 20px;

}

.sorting-right a {
    display: inline-block;
    vertical-align: middle;
}

.sorting-right .up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #cccccc;
    margin-right: 10px;   
}
.sorting-right .down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #cccccc;
}

.sorting-right .active {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #81b3d2;
}

.up:hover {
  border-color: transparent transparent #000000 transparent;
}
.up:active {
  border-color: transparent transparent #81b3d2 transparent;
}
.down:hover {
  border-color: #000000 transparent transparent transparent;
}
.down:active {
  border-color: #81b3d2 transparent transparent transparent;
}


/*hotel-filters*/
.hotel-main {
    font-family: "PT Sans", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

}

.filters {
    background-image: url("../img/filters-bg.jpg");
    font-family: "PT Sans Bold", "Open Sans", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    height: 216px;
}

.filters label {
    font-family: "PT Sans Regular", "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.filter-left {
    float: left;
    padding-left: 72px;
    width: 525px;
    margin-top: 32px;
}

.filter-left label {
}

.infrastructure {
    float: left;
    width: 200px;
    margin-right: 55px;
}

.filter-name {
    margin-top: 0;
    font-size: 16px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 25px;
}

.filter-housing {
    float: left;
    width: 225px;

}

/*фильтр с ползунком*/
.filter-range {

    width: 330px;
    margin-right: 68px;
    color: #ffffff;
    text-transform: uppercase;
    float: right;

}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    margin-top: 25px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px; /*было -90px;*/
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

/*фильтр с ползунком-end*/

.result-list-more {
    padding: 5px 16px;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-right: 2%;
    width: 110px;
    height: 26px;
    color: #ffffff;
    background: #81b3d2;
    text-decoration: none;

}

.result-list-more:hover {
    /*цвет,когда мышкой наводишь*/
    background: #669ec0;
}

.result-list-more:active {
    color: #94b9d2;
}

.result-list-bron {
    padding: 5px 16px;
    margin-top: 8px;
    margin-bottom: 24px;
    width: 108px;
    color: #ffffff;
    background: #766357;
    text-decoration: none;
}

.result-list-bron:hover {
    background: #604e43;
}

.result-list-bron:active {
    color: #928a85;
}

.catalog-header h2 {
    line-height: 26px;
    font-size: 21px;
    margin: 0;
}

.sort-label {
    /*сортировка*/

    display: inline-block;
    vertical-align: top;
    width: 114px;
    font-size: 12px;
    margin-right: 11px;
    line-height: 26px;
}







.sort-type ul {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.sort-type li {
    display: inline-block;
    vertical-align: top;
    margin-right: 32px;
    font-size: 12px;
    line-height: 26px;
}


.sort-type a:hover {
  color: #81b3d2;
  border: none;
}


.sort-type a:active {
  color: #000;
}





/*class= catalog-results*/

.catalog-column-left {
    /*картинка отеля- левая колонка*/
    float: left;
    width: 135px;
    margin-right: 28px;
}

.catalog-column-right {
    /*рейтинг- правая колонка*/
    float: right;
    width: 110px;
    text-align: right;
}

/*блок catalog-end*/

/*catalog-resultы -каталог отелей*/
.catalog-results {
    outline: none;
    text-decoration: none;

}

.catalog-results-img img {
    display: block;
    width: 135px;
    height: 90px;
}

.catalog-info {
    float: left;
    width: 400px;

}

.result-list-title {
    /*название гостиницы Amara Resort Spa*/
    margin: 0 0 6px;
    font-size: 21px;
    line-height: 26px;
}

.result-list-title a {
    /*цвет шрифта черный, без подчеркиваний*/
    text-decoration: none;
    color: #000000;
}

.result-list-title a:hover {
    color: #81b3d2;
}

.result-list-title a:active {
    color: #cccccc;
}

.result-list-description {
    /*описание гостиницы и стоимость*/

    margin: 0;
    font-size: 14px;
    margin-bottom: 10px;
    }
.result-list-description a{
font-weight: bold;
}


.result-list-type {
    width: 110px;

}

.result-list-description span {
    display: inline-block;

}

.result-list-more,
.result-list-bron {
    /*описание и кнопки*/

    margin-top: 15px;
    padding: 3px 17px;
}

/*рейтинг */
.ratings-value {
    padding: 3px 0;
    background-color: #f2f2f2;
    color: #666666;
    text-align: center;
}

.catalog-range {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e5e5e5;
}

.star {
    position: relative;
    display: inline-block;
    margin-bottom: 45px;
}

/* form style */
.filter-item {
    margin-bottom: 23px;
}

.filter-item input {
    display: none;
}

.filter-item input:checked + label:before {  /* белая иконка с галкой */
    background-image: url('../img/sprites.png');
    width: 26px;
    height: 22px;
    background-position: -32px -60px;
}

.filter-item label {
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

.filter-item label:before {           /* белая иконка без галки */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-image: url(../img/sprites.png);
    background-repeat: no-repeat;
    background-position: -34px -103px

    /* координаты серой иконки без галки 
    background-position: -34px -139px;
    background-image: url('../img/sprites.png');
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;  */

    /* координаты серой иконки с галкой 
    background-image: url('../img/sprites.png');
    width: 26px;
    height: 22px;
    background-position: -34px -172px; */

